#contact-top{
    background: url(../img/GoldSmooth_HotelRoom_04_00.jpgAE387640-8ED2-4672-B02A-44DA675F5573Large.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.contact-slide{
    padding: 100px 0;
}
 #footer {
     background-color: #222222;
 }

 .stickyTop {
     position: fixed;
     top: 0;
     background-color: #fff;
     width: 100%;
     z-index: 100;
     border-bottom: 1px solid #A98551;
     margin-bottom: 20px;
 }