

.navbar-light .navbar-nav .nav-link {
    color: #aa8453;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgb(211, 144, 19);
}
#top{
    background-image: url(../img/istockphoto-627892060-612x612.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}
.facility-icons{
    background-color: #aa8453;
    color: #fff;
    padding: 5px;
}
.room{
    background-color: antiquewhite;
    margin-top: 20px;
    border: 1px solid #fff;
}
.room-image{
    background-color: antiquewhite;
}
.room-category{
    background-color: antiquewhite;
}
.room-slide{
    padding: 150px 0;
}
.booking-button button {
    margin-top: 3rem;
    text-align: right;
}
.stickyTop {
    position: fixed;
    top: 0;
    background-color: #222222;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid #A98551;
}
#footer {
    background-color: #222222;
}

@media(max-width:768px) {
    .price{
        text-align: left;
    }
    .booking-button button{
        margin-top: 1.5rem;
    }
}
@media(max-width:576px) {
    .price {
        text-align: left;
    }

    .booking-button button {
        margin-top: 1.5rem;
        text-align: left;
    }
}